.brand_item {
    .brand_item_image {
        object-fit: scale-down;
        height: 200px;
        width: 200px;
    }
}

.vehicle_item_image {
    max-height: 200px;
    object-fit: cover;
}

.vehicle_item {
    transition: transform .2s;
}

.vehicle_item:hover {
    transform: scale(1.05);
}

#vehicleCarousel .carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.thumbnail-wrapper {
    border: 2px solid transparent;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        border-color: #0275d8;
        transform: scale(1.05);
    }
}

.thumbnail-img {
    transition: all 0.3s ease;
    border: 2px solid transparent;

    &.active {
        border-color: #0275d8;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

#mainCarousel {
    .carousel-item {
        transition: transform 0.3s ease-in-out;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: rgba(0, 0, 0, 0.5);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 10px;
    }
}
.product-image-container {
    height: 200px;
    overflow: hidden;
    position: relative;

    .product-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
