.brand_item {
    .brand_item_image {
        object-fit: scale-down;
        height: 200px;
        width: 200px;
    }
}

.vehicle_item_image {
    max-height: 200px;
    object-fit: cover;
}

.vehicle_item {
    transition: transform .2s;
}

.vehicle_item:hover {
    transform: scale(1.05);
}

#vehicleCarousel .carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
